.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}

.App-header {
  background-color: #1795d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: white;
  width: 300px;
  margin: 15px auto;
}

.App-header > img {
  padding-top: 20px;
  width: 150px;
}

@media screen and (min-width: 1024px) {
  .App-header {
    width: 500px;
    margin: 25px auto;
  }

  .App-header > img {
    width: 250px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
