.Checklist__item {
  display: flex;
  margin: 10px 5px;
  position: relative;
}

.Checklist__item__checkbox {
  display: flex;
  justify-content: center;
}

.Checklist__item:hover > .Checklist__item__delete {
  opacity: 1;
}

.Checklist__section {
  background: #1795d4;
  display: block;
  opacity: 0.7;
  color: #fff;

  padding: 10px 10px;
  font-weight: bold;
}

.Checklist__completed {
  padding-top: 15px;
}

.Checklist__item__delete {
  color: grey;
  position: absolute;
  right: 12px;
  top: 4px;
  opacity: 0;
}

.Checklist__item__delete:hover {
  cursor: pointer;
  font-weight: bold;
}
